*{
    margin: 0;
    padding: 0;
    background: blueviolet;
}

h1{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.calculadora{
    margin: 0 auto;
    display: flex;
    width: 300px;
    height: 350px;
    flex-flow: wrap;
    border: 5px solid black;
    margin-top: 75px;
    
}

button{
    background-color: wheat;
    width: 75px;
    height: 75px;
}

input{
    width: 500px;
    height: 50px;
    background-color: aquamarine;
    margin: 0 auto;
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
}